.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pdf-view {
}

.annotations-container {
    width: 350px;
    height: 100%;
    overflow-y: scroll;
    background-color: #f5f5f5;
}

.annotation-header {
    display: flex;
    height: 46px;
    justify-content: center;
}

.annotation-header > div {
    padding: 5px 15px;
}

ul {
    margin: 0 5px;
    padding: 0;
}

li * {
    float: left;
}

li, h3 {
    clear: both;
    list-style: none;
}

input, button {
    outline: none;
}

button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 14px;
    font-family: Lato, sans-serif;
    cursor: pointer;
    padding: 0px;
    padding-right: 10px;
}

button:hover {
    color: #333;
}

/* Heading */
h3 {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid #333;
    padding: 15px 0 14px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

textarea:focus  {
    color: #333;
}

/* Annotation list */
li {
    overflow: hidden;
    margin: 5px 0;
    padding: 10px 0;
    width: auto;
    border: 2px solid #1976d2;
}

li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}

li > label {
    font-size: 18px;
    line-height: 32px;
    width: 237px;
    padding: 0 0 0 11px;
}

li > input[type="text"] {
    width: 226px;
}

li > .delete:hover {
    color: #CF2323;
}

.selected {
    border: 2px solid #1976d2;
}

.unselected {
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.user-details {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.user-name {
    font-weight: bold;
    padding: 0 10px;
    font-size: 16px;
}

.user-name:hover {
    color: #1976d2;
}

.time {
    color: rgba(0,0,0,.4);
    font-size: 14px;
}

.user-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #1976d2
}

.comments {
    width: 100%;
    padding-left: 60px;
    font-size: 16px;
}

.comments-actions {
    margin-left: auto;
    margin-right: 20px;
    color: #1976d2;
}

.edit {
    padding-right: 10px;
}

.edit:hover {
    color: black;
}

.delete:hover {
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 10px 20px;
}

.footer button + button {
    margin-left: 20px;
}

.tools {
    margin-left: 5px !important;
}

#color {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
#color::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
}
#color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}

.MuiSvgIcon-colorPrimary {
    color: #1976d2 !important;
}

.MuiButton-containedPrimary {
    background-color: #1976d2 !important;
}

.back {
    position: fixed !important;
    top: 48%;
    right: 325px;
}

.edit-text {
    margin: 12px 0 0 50px;
    width: 75%;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    margin-bottom: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.MuiExpansionPanelDetails-root {
    display: flex;
    padding: 8px 10px 9px !important;
}
